{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="cent_cont">
    <div class="lf_cont">
        <div><img src="{{ page.image.url }}" alt="" class="avatar"></div>
    </div>
    <div class="c_cont">
        <h2>{{ page.title }}</h2>
    </div>

    {% if page.username_id == user.id %}
    <div class="rf_cont">
        <h3>Изменить данные</h3>
        <div>
        <form action="" method="post" enctype="multipart/form-data" class="form-us">
            {% csrf_token %}
            <div class="us-name"> <input type="file" name="file" title="1"><input type="submit"></div>
            <div>Аватар</div>
        </form>
        </div>
        <div>
        <form action="" method="post" class="form-us">
            {% csrf_token %}
            <div class="us-name"><input type="text" name="title"><input type="submit"></div>
            <div>Пользовательский ник</div>
        </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}