<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/video-style.css' %}">
</head>
<body>
<div class="base" >
    <img src="{% static 'warhammer/display41.jpg' %}" alt="1" class="display">
    <img src="{% static 'warhammer/display.jpg' %}" alt="1" class="display">
    <img src="{% static 'warhammer/display2.jpg' %}" alt="1" class="display">
    <div class="content">
        <div class="shapka">
            <ul class="uli">
                <li><a href="{% url 'index' %}">Главная</a></li>
                {% if user.is_authenticated %}
                    <form action="{% url 'logout_user' %}" method="post">
                        {% csrf_token %}
                        <li><button class="btr">Выход</button></li>
                    </form>
                {% else %}
                    <li><a href="{% url 'registration' %}">Регистрация</a></li>

                    <form action="{% url 'login_user' %}"  method="post" class="form">
                        {% csrf_token %}
                        <input type="text" name="username">
                        <input type="password" name="password">
                        <button type="submit">Вход</button>
                    </form>
                {% endif %}
            </ul>
        </div>
        <div class="wrap" id="wrap">
            <div class="left-content" id="left">

                {% block content %}

                {% endblock %}

            </div>
            <div class="right-content" id="right">
                <ul class="colum" id="colum">
                    <li><a href="{% url 'load-images' %}">Картинки</a></li>
                    <li><a href="{% url 'load-video' %}">Видео</a></li>
                    <li><a href="">Книги</a></li>
                    <li><a href="">Истории</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<script src="{% static 'scripts/video_player.js' %}"></script>
</body>
</html>
