{% extends 'warhammer/base.html'  %}

{% load static %}
{% block content %}

<div class="ramka3">

    <div class="center">

        <h1>Краткая история!</h1>

        <div class="divi">
            <h3>История Вселенной Warhammer 40 000</h3>
            <img src="{% static 'warhammer/icon1.jpg' %}" class="icon">
            <div>
                Что же такого привлекательного в мрачном и безрадостном мире Warhammer 40000? Есть в Warhammer'е
                какое-то готическое очарование. Нечто вроде того, что принесло популярность "Дракуле" Брема Стокера.
                Готическая фантастика. Мир, в котором прослеживается падение и распад человеческой цивилизации. Не
                ее расцвет или, наоборот, низшая точка развития, за которой следует подъем, а именно путь во тьму,
                длинный, но неизбежный. Итак, добро пожаловать в мир Warhammer 40000. Мир, где фантастика
                соседствует с фэнтези, где рыцари света являются продуктами генной инженерии, где верховный бог
                людей живет в саркофаге созданном священниками Бога-Машины, где демоны вооружены плазменными
                винтовками, где вера имеет видимую силу, а потомки ангела являются вампирами.
            </div>
        </div>
        <div class="divi">
            <h3>В начале</h3>
            <img src="{% static 'warhammer/icon2.jpg' %}" class="icon">
            <p>
                Человеческая история в Warhammer 40000 начинается в 15 тысячелетии. То есть было что-то и до этого
                срока, но это не важно. Именно тогда человечество начало расселятся по звездам. Сначала медленно,
                используя примитивные досветовые звездолеты со спящей командой, человечество потянулось к другим
                мирам. Колонии основывались бессистемно и не контактировали друг с другом. Затем, через 5000 лет
                такого освоения был изобретен варп-драйв, двигатель, который позволял перемещаться через
                варп-пространство намного быстрее и легче, чем просто по космосу. Кораблями в варпе управляли
                навигаторы, люди, чья генетика позволяла им чувствовать варп и его течения. Человечество ринулось к
                звездам подобно полноводной реке, вышедшей из берегов (или, по выражению Эльдрада Ультрана - как
                бубонная чума).
            </p>
            <p>
                Варп всеми воспринимался как должное, и никто не знал, что варп населен так же густо, как и
                шелудивый дворовый пес. Существа из варпа, которых впоследствии назвали демонами, не имели тогда
                должной силы, ибо величайшая из их побед была еще впереди. Они наблюдали за людьми, слушали их
                мысли, чувства и строили коварные и жестокие планы порабощения и уничтожения человечества (а какие
                еще планы могут строить демоны?). Десять тысяч лет человечество распространялось по космосу,
                встречалось с другими расами, общалось и торговало с эльдарами, воевало с орками, баловалось
                междоусобными войнами и завоеваниями. Но на 25 тысячелетии мирное существование человечества
                закончилось. Конечно, потом эльдары, отягощенный виной и высокомерием, говорили, что во всем
                виноваты люди, которые привели к Падению, но мы то знаем правду.
            </p>
        </div>
        <div class="divi">
            <h3>Падение эльдаров</h3>
            <img src="{% static 'warhammer/icon3.jpg' %}" class="icon">
            <p>
                Древняя и могущественная эльдарская цивилизация существовала задолго до того, как первый предок
                человека перевернул камень, чтобы извлечь из-под него червей на ужин. Могучие псионики (или
                псайкеры, как принято говорить здесь) - они поставили себе на службу силу самого варпа. Повинуясь их
                песням и заклинаниям, их города росли прямо из земли, и вырастали в прекраснейшие и неповторимые
                творения. Их души были настолько сильны, что они победили саму смерть и, умирая, не исчезали с лица
                вселенной подобно погасшему пламени свечи, а возрождались в новых поколениях, проживая жизнь за
                жизнью. Их души ждали в варпе рождения эльдарского ребенка, чтобы наполнить его девственный разум
                силой и знаниями сотен веков. Но, как часто бывает, прекрасная жизнь не располагала к хлопотам,
                связанным с рождением детей. Даже в материальной оболочке эльдары были бессмертны, и сотни лет пиров
                и развлечений никто не хотел прерывать даже ради сородичей, которые ждали в варпе возможности
                переродиться.
            </p>
            <p>
                Постепенно бестелесных душ эльдаров становилось в варпе все больше и больше и, в один прекрасный (а
                точнее ужасный) момент, демоны варпа нанесли эльдарской цивилизации смертельный удар. В одну секунду
                души эльдаров потеряли свою целостность и индивидуальность, и высвободившаяся энергия привела к
                рождению сверхдемона, а точнее - бога хаоса, Слаанеша. Юный бог, объединившись с остальными богами
                хаоса - Хорном, Нурглом и Цинчем, ринулся в реальный мир. Чудовищная прореха в ткани мироздания
                образовалась на месте центра эльдарской империи, и миллиарды эльдаров были поглощены силой Слаанеша.
                Огромный вихрь, чудовищный клок варпа в реальном мире получил название Глаза Ужаса. Через него
                демоны ринулись поглощать и порабощать вселенную. Многие колонии людей пали жертвой безумия демонов.
                Оказалось, что ген навигатора, который считали благословением, является также и проклятием людей.
                Возможность чувствовать варп также означала и повышенную уязвимость к атакам демонов.
            </p>
            <p>
                Лишенные в реальном мире материальных тел, демоны вселялись в разумы человеческих псайкеров, неся
                через них безумие, смерть и разрушение. Космос и варп сошли с ума. Во многих местах варп прорвался в
                реальный мир, и мощнейшие варп-штормы закружились на огромных пространствах, отрезая человеческие
                миры друг от друга и от Земли, ибо пройти через варп-шторм, рискуя разумом и самой душой, не решался
                ни один навигатор. Человеческая цивилизация распалась на тысячи кусочков. Не имея возможности пройти
                сквозь взбесившийся варп, население многих планет погружалось в варварство, или, что еще хуже,
                становилось жертвой демонов или других инопланетных рас. Золотой век человеческой цивилизации
                закончился, не успев толком начаться.
            </p>
        </div>
        <div class="divi">
            <h3>Император</h3>
            <img src="{% static 'warhammer/icon4.jpg' %}" class="icon">
            <p>Почти 5000 лет галактика содрогалась от могучих приливов варпа. Человеческие колонии сражались с
                демонами, эльдарами, орками, генокрадами и прочей нечистью, отстаивая свое право на существование.
                Земля, изолированная варп-штормами от остального пространства, существовала сама по себе, не имея
                влияния на другие человеческие миры. Технология находилась в упадке, и единственными хранителями
                знаний Золотого Века оставались техножрецы Марса, поклоняющиеся Богу-Машине. Именно в это время на
                Земле родился человек, которому предстояло изменить лик галактики на ближайшие 10000 лет. Никто
                сейчас не помнит его настоящего имени, но все знают его как Императора.</p>
            <p>Его детство, юность и даже зрелость также покрыты мраком неизвестности. Впервые он стал чем-то
                большим, чем просто человек, когда пришел в сопровождении сторонников в столицу одного из
                многочисленных государств Земли и за одну ночь завоевал все государство, сокрушив многотысячную
                армию силой отряда, в котором не было и сотни солдат. Став правителем, он начал планомерно
                завоевывать Землю, пока не превратился в единоличного повелителя колыбели человечества. Опорой
                Императора и главной силой его армии были первые Космические Десантники, генетически усиленные
                люди-воины. Сотворенные Императором, они были нечеловечески сильны, ловки, живучи и быстры, на
                порядок превосходя возможности простого человека и на равных сражаясь даже с демонами. Но Император
                был еще и псайкером, сильнейшим за всю историю рода человеческого. К тому времени, когда Император
                завоевал Землю, варп-шторма в галактике начали утихать и со временем совсем прекратились, снова
                сделав возможным межзвездные путешествия.</p>
            <p>Кто знает, может воля Императора сотворила это. Завоевав Землю, Император начал готовится к великому
                Крестовому Походу в галактику с целью воссоединить раздробленное человечество для совместного
                противостояния угрозе хаоса и инопланетянам. Для этого Император создал 12 сверхдесантников,
                Примархов, которым была уготована роль вождей и полководцев в будущем походе. Деяния Императора не
                могли не привлечь внимание самого главного врага человечества, Хаоса. Боги хаоса послали к Земле
                своих верных слуг, Ветры Варпа, и те, закружив Землю в диком шторме, похитили инкубаторы с еще не
                рожденными примархами и разбросали их по галактике. Прикосновение воли Богов Хаоса отравило
                примархов и нарушило реализацию замысла императора создать идеальных людей. Примархи рождались в
                разных уголках галактике, и каждый из них имел изъян. Один из них родился одноглазым подобно
                циклопу, другой же получил крылья ангела, а некоторые, не имея физических недостатков, несли в себе
                яд хаоса, который точил изнутри их волю и силы. Тем не менее, Император, начав Великий крестовый
                Поход, со временем вернул всех примархов к себе, и те, признав Императора как создателя и господина,
                верно служили ему на поприще великой войны.</p>
            <p>Величайшим же из примархов был Хорус. Он был самым первым творением Императора и самым любимым. Не
                было равных Хорусу на поле брани, и другие примархи преклонялись пред его силой и волей. Но яд хаоса
                тоже был силен в Хорусе. После ранения отравленным мечом, способным поразить даже примарха, силы
                Хаоса из варпа на все лады шептали ему о его силе, воле и о том, что он более своего создателя
                достоин стать повелителем человечества. Долго Хорус противостоял этому, но не выдержал, и гордыня
                его превозмогла его верность Императору. После завершения крестового похода Хорус поднял мятеж и
                пошел войной на своего создателя. Величайшие из воинов человечества, космические десантники,
                разделились на два враждующих лагеря.</p>
            <p>Из двадцати Легионов Императора лишь девять сохранили верность своему господину, еще девять примкнули
                к Хорусу, и два легиона затерялись в огне войны. Подобно библейским огненным колесам война
                покатилась по просторам недавно созданной человеческой империи. Не только десантники сражались друг
                с другом, но и отряды Имперской Гвардии и Титанические Легионы участвовали в этой войне. Война
                длилась долго и с переменным успехом, но, в конце концов, Хорус преодолел сопротивление лояльных
                войск и его корабли устремились к Земле, сердцу Империи, обиталищу Императора. Самая кровавая и
                упорная битва состоялась вокруг императорского дворца. Лучшие силы лояльных десантников защищали
                его, и самые фанатичные из последователей Хаоса рвались на стены его. В конце концов, видя, что
                проигрывает, Император принял единственное правильное решение. Вместе с двумя верными примархами и
                отрядом тяжелых пехотинцев-Терминаторов он перенесся на боевую баржу Хоруса, чтобы нанести удар по
                самому сердцу мятежа.</p>
        </div>
    </div>
</div>


{% endblock %}