.all-vid{
    background: linear-gradient(rgb(29, 28, 28), rgb(56, 52, 52));
    padding: 4%;
}
.block-vid{
    background: rgb(12, 12, 15);
    width: 100%;
    border: 3px solid;
    box-shadow: 0 0 10px 5px rgb(143, 134, 134);
}
#video-player{
    border: 1px solid rgb(87, 88, 2);
    width: 100%;
    max-width: 1400px;
    box-shadow: inset 0 0 5px rgb(241, 234, 234);
}
.but-vid{
    display: flex;
    justify-content:flex-start;
    padding: 5px 20px;
    background: rgb(12, 12, 15);
}
.but-vid div{
    padding: 5px 20px;
}
#sv {
    padding: 5px;
    text-align: end;
}
.vid-btm{
    background: rgb(12, 12, 15);
    color: rgb(91, 241, 241);
    font-size: 100%;
}
.lf{
    text-align: right;
}